<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {% block content %} Parent{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/index.js') }}"></script>
    </body>
</html>
